.gs__container {
  flex-direction: column;
  gap: 40px;
  background-image: url(https://www.strassacker.com/assets/teaser-gradient.webp);
  padding: 80px 0px;
}

.gs__container-title {
  height: auto;
  width: 1060px;
  flex-direction: column;
  gap: 20px;
}

.gs__container-text {
  gap: 8px;
}

.gs__container-sideline {
  height: 25px;
  width: 1px;
  background-color: black;
}

.gs__container-txt {
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 1rem;
  color: black;
}

.gs__container-heading h2 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.gs__container-menu {
  justify-content: center;
  gap: 110px;
  height: 540px;
  overflow: visible;
}

.gs__container-items {
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.gs__container-items[data-content='showroom'] {
  margin-top: 270px;
}

.gs__container-heading {
  gap: 8px;
}

.gs__container-hsideline {
  width: 25px;
  height: 1px;
  background-color: black;
}

.gs__container-heading:nth-child(1) {
  font-weight: 400;
  font-size: 1.5rem;
}

.gs__container-img img {
  width: 280px;
}

.gs__container-img {
  width: 280px;
  height: 400px;
  overflow: hidden;
  border: 1px solid white;
}

.gs__container-img--hovered:hover {
  width: 280px;
  height: 400px;
  transform: scale(1.03);
}

.gs__container-btn {
  margin-top: 70px;
}
