.nav__container {
  justify-content: center;
  width: 100%;
  height: 118px;
  z-index: 5;
}

.nav__container--scrolled {
  height: 90px;
}

.nav {
  width: 100%;
  height: 120px;
  top: 0;
  background-color: white;
  z-index: 6;
  justify-content: space-between;
}

.nav--scrolled {
  height: 90px;
}

/* Logo */
.nav__logo {
  margin-left: 20px;
}

.nav__logo--scrolled {
  margin-left: 35px;
}

.nav__img {
  width: 100px;
  cursor: pointer;
}

.nav__img--scrolled {
  width: 75px;
}

/* navbars */
.nav__list {
  gap: 20px;
  list-style-type: none;
}

.nav__item {
  gap: 3px;
  justify-content: flex-start;
  width: 155px;
}

.nav__link a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 550;
  letter-spacing: 2px;
  color: #0c0b0cfb;
}

.nav__sideline {
  width: 20px;
  height: 1.5px;
  background-color: #4d0000;
  transition-timing-function: linear;
  transition: width 0.4s;
}

.nav__sideline--hovered {
  width: 30px;
}

/* Hamburger */

.nav__bars {
  margin-right: 10px;
}

.nav__bars--scrolled {
  margin-right: 10px;
}

.nav__icon {
  font-size: 20px;
  cursor: pointer;
}

@media only screen and (min-width: 1800px) {
  .nav__container {
    background-color: white;
  }

  .nav {
    width: 1340px;
    height: 118px;
  }
  .nav--scrolled {
    height: 90px;
  }
  .nav__logo {
    margin-top: 30px;
    margin-left: 0px;
  }
}
