.cs-main {
  margin: 70px 0px;
  gap: 80px;
}

.cs-main__header {
  width: 1060px;
  gap: 20px;
}

.cs-main__items {
  gap: 8px;
}

.cs-main__items-txt {
  letter-spacing: 2.4px;
  font-size: 1.1rem;
  font-weight: 100;
}

.cs-main__heading h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.cs-main__sideline {
  height: 30px;
  width: 1px;
  background-color: black;
}

.cs-main__container {
  width: 1340px;
  margin-left: 9px;
}

.cs-main__img-container {
  width: 330px;
  border: 1px solid white;
  overflow: hidden;
}

.cs-main__img {
  width: 330px;
  height: 460px;
  transition: transform 0.5s ease-in-out;
}

.cs-main__img--hovered {
  transform: scale(1.03);
}

.cs-main__middle {
  width: 100%;
}

.cs-main__middleline {
  width: 1px;
  height: 100%;
  background-color: black;
  z-index: 1;
  right: 672px;
}

.cs-main__title {
  width: 1px;
  height: 100px;
  top: 40%;
  right: 672px;
  background-color: white;
  z-index: 2;
}

.cs-main__title-heading h2 {
  font-weight: 400;
  font-size: 2.3rem;
}

.cs-main__item {
  gap: 25px;
  background-color: white;
  width: 340px;
}

.cs-main__title-text {
  gap: 7px;
}

.cs-main__title-txt {
  font-size: 16px;
  letter-spacing: 1px;
}

.cs-main__title-sideline {
  width: 25px;
  height: 1.7px;
  background-color: black;
  transition: width 0.5s ease-in-out;
}

.cs-main__title-sideline--hovered {
  width: 35px;
}
