.header-container {
  align-items: end;
  justify-content: flex-end;
}

.header {
  height: 500px;
  margin-top: 120px;
  z-index: -1;
  width: 1340px;
}

.header__video {
}

video {
  height: 500px;
  width: 100%;
  border-top-left-radius: 40px;
  object-fit: cover;
}

.header__heading {
  left: 120px;
  top: 100px;
  bottom: 0px;
  gap: 160px;
}

.header__items {
  gap: 10px;
}

.header__item {
  gap: 10px;
}

.header__sideline {
  width: 1px;
  height: 30px;
  background-color: white;
}

h3 {
  letter-spacing: 3px;
  font-size: 1.2rem;
  font-size-adjust: 0.45;
  font-weight: 88;
  color: white;
}

.header__title {
  letter-spacing: 0px;
  font-size: 3rem;
  font-size-adjust: 0.545;
  color: white;
}

.header__sideboxes {
  border-left: 1px solid white;
  height: 500px;
  width: 60px;
  margin-left: 168px;
  left: 995px;
  bottom: 0px;
  justify-content: space-around;
}

.background {
  height: 500px;
  width: 60px;
  margin-left: 168px;
  left: 995px;
  bottom: 0px;
  background-color: black;
  opacity: 0.3;
}

.header__sidebox {
  height: 50px;
  width: 166px;
  rotate: 270deg;
  align-items: end;
}

.header__sidebox div {
  margin-bottom: 5px;
}

.header__sideboxes .header__sidebox:nth-child(2) {
  border-left: 1px solid white;
  border-right: 1px solid white;
  text-align: center;
}

span {
  font-size: 17px;
  letter-spacing: 1.4px;
  color: white;
  text-align: center;
}

span:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
}

@media only screen and (min-width: 1800px) {
  .header {
    height: 800px;
    margin-top: 138px;
    width: 1635px;
  }

  video {
    height: 800px;
  }

  .header__heading {
    left: 120px;
    top: 430px;
    gap: 160px;
  }

  .header__sideboxes {
    height: 800px;
    width: 60px;
    margin-left: 168px;
    left: 1290px;
    bottom: 0px;
  }

  .header__sidebox {
    height: 50px;
    width: 266px;
  }

  .test {
    height: 800px;
    width: 60px;
    margin-left: 168px;
    left: 1290px;
    bottom: 0px;
  }
}
