.ns {
  background-color: #f6f1ea;
  margin-bottom: 50px;
  flex-direction: column;
  padding: 100px 100px 120px 120px;
  gap: 75px;
}

.ns__items {
  gap: 10px;
  flex-direction: column;
  width: 1120px;
}

.ns__title {
  gap: 8px;
}

.ns__title-sideline {
  width: 1px;
  height: 30px;
  background-color: black;
}
.ns__title h4 {
  color: black;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 2px;
}

.ns__title h3 {
  font-weight: 500;
  font-size: 2rem;
  color: black;
}

.ns-container {
  width: 1120px;
  justify-content: space-between;
  gap: 19px;
}

.ns-container__line {
  width: 400px;
  top: 0px;
  left: 32.2%;
  height: 550px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.ns-container__item {
  width: 330px;
  height: 550px;

  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.ns-container__img img {
  width: 330px;
  height: 330px;
}

.ns-container__desc {
}

.ns-container__txt {
  width: 80%;

  text-align: left;
}

.ns-container__txt p {
  font-size: 1.5rem;
}

.ns-container__date {
  width: 100%;
  gap: 8px;
}

.ns-container__datesideline {
  height: 25px;
  width: 2px;
}

.ns-container__datesideline div {
  height: 25px;
  width: 2px;
  background-color: gray;
}

.ns-container__date-date span {
  font-size: 15px;
  color: lightgray;
}

.ns-container__btn {
  width: 100%;

  justify-content: end;
  gap: 8px;
}

.ns-container__btn-txt:nth-child(1) span {
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.ns-container__btn-sideline {
  width: 40px;
  height: 2px;
  background-color: black;
}

.ns-container__bnt-sideline div {
  width: 30px;
  height: 2px;
  background-color: black;
}
