.footer {
  background-color: white;
  width: 1340px;
  flex-direction: column;
  margin: 50px 0px 50px 10px;
}

.footer__items {
  justify-content: space-between;
  width: 100%;
}

.footer__item:nth-child(1) {
  width: 500px;
  margin-left: 10px;
}

.footer__item:nth-child(2) {
  gap: 40px;
}

.footer__item:nth-child(3) {
  gap: 50px;
}

.footer__item {
  width: 420px;
  background-color: white;
  flex-direction: column;
  gap: 12px;
}

.footer__title p {
  font-size: 1.2rem;
}

.footer__contact:nth-child(1) {
  color: black;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.footer__contact p {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.footer__lang {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer__btn-container {
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 5px 0px;
}

.footer__btn {
  border: 1px solid white;
  font-size: 1.3rem;
  background-color: white;
  font-weight: 22;
  letter-spacing: 1px;
  color: gray;
}

.footer__btn-icon {
  margin-right: 8px;
  rotate: 266deg;
  font-size: 14px;
  color: gray;
}
.footer__btn-icon--hovered {
  margin-right: 8px;
  rotate: 90deg;
  font-size: 14px;
  color: gray;
}

.footer__dropdown {
  background-color: lightblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer__langgerman {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
}

.footer__langgerman a {
  color: white;
  text-decoration: none;
}

.footer__langgerman span {
  margin: 0px 5px 0px 8px;
  font-size: 13px;
  color: gray;
}

.footer__langenglish {
  width: 100%;
  height: 50px;
  background-color: white;
  color: black;
}

.footer__langenglish a {
  color: black;
  text-decoration: none;
  margin-left: 25px;
}

.footer__btn--clicked {
  display: none;
}

.footer__middleline {
  background-color: lightgray;
  width: 100%;
  height: 1px;
  margin: 20px 0px;
}

.footer__links-list {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.footer__list-icons ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.footer__links-list ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
  font-size: 1.3rem;
  font-weight: 100;
  color: gray;
  align-items: center;
}

@media screen and (min-width: 1023px) {
  .f-phone {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    display: none;
  }

  .f-phone {
    margin: 80px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 95vw;
  }

  .f-phone__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 30px;
  }
  .f-phone__logo--img img {
    width: 25vw;
    height: 15vh;
  }

  .f-phone__companyname h6 {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .f-phone__contacts {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  .f-phone__conatcts--address {
    display: flex;
    gap: 5px;
    flex-direction: column;
  }

  .f-phone__contacts--elctaddress {
    display: flex;
    gap: 5px;
    flex-direction: column;
  }

  .f-phone__contacts--street {
    font-size: 0.9rem;
  }

  .f-phone__contacts--city {
    font-size: 0.9rem;
  }

  .f-phone__contacts--mailaddress span {
    font-size: 0.9rem;
  }

  .f-phone__contacts--phone span {
    font-size: 0.9rem;
  }

  .f-phone__infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .f-phone__items {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    list-style-type: none;
  }

  .f-phone__link {
    font-size: 0.8rem;
  }

  .f-phone__items--icons {
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
}
